<div class="container">

  <div class="d-flex justify-content-between align-items-center">
    <div class=""></div>
    <div class="">
      <p class="m-0"> โรงหนัง {{price}}</p>
    </div>
    <div class=""> <button type="button" (click)="buy()" [routerLink]="['/', 'product', 'payment', id]" class="btn btn-primary"
      [disabled]="price == 0 ">ซื้อตั๋ว</button></div>
  </div>

  <button type="button" style="width: 98%;"></button>
  <br><br><br>
  <p *ngFor="let row of SEAT">
    {{row.row}}
    <!-- <a *ngFor="let seat of row.seats" class="btn" (click)="status(seat)"
      [ngClass]="{'btn-light':seat.status=='IDLE','btn-danger':seat.status=='BUSY','btn-primary':seat.status=='MARKING'}">
      {{seat.no}}
  </a> -->
    <button *ngFor="let seat of row.seats " type="button" class="btn" (click)="status(seat)"
      [ngClass]="{'btn-light':seat.status=='IDLE','btn-danger':seat.status=='BUSY','btn-primary':seat.status=='MARKING'}"
      [disabled]="seat.status =='BUSY'">
      {{seat.no}}
    </button>
    {{row.row}}
  </p>
  <p></p>
</div>
