<div class="container-fluid ">
  <div class="row">
    <div class="col-sm-12" style="text-align: center;">
      <br>
      <div>ชำระเงิน</div>
      <br>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="card ">
        <div class="card-body" style="text-align: center;">
          <img class="img-profile" src="./assets/img/{{id}}.jpg" /></div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <p>ชื่อหนัง</p>
          <p>จำนวนที่นั่ง</p>
          <p>ราคาทั้งหมด</p>
          <p>ราคาต่อที่นั่ง</p>
        </div>
      </div>
    </div>
  </div>
</div>
